<mat-toolbar gdev-color [color]="'primary'" [background]="'bg2'" id="navbar">
    <span class="hide-on-large-only mobile-menu"
    (click)="navbarService.toggleMobileMenu.emit()">
        <i class="fas fa-bars"></i>
    </span>

    <span>
        <div class="logo_content">
            <img src="app/gdev-panel/assets/img/gdev-neg-dark.png" alt="gdev-store-logo">
        </div>
    </span>

    <span class="espacio"></span>

    <div class="col right user-profile" *ngIf="login.admin$ | async as user; else unlogged">


        <button mat-icon-button
        [matMenuTriggerFor]="menuProfile"
        ><i class="fas fa-chevron-circle-down"></i></button>
        <mat-menu #menuProfile="matMenu">
            <button
            mat-menu-item
            *ngFor="let item of menuStructure"
            [routerLink]="[item.route]"
            >{{item.name}}</button>

            <button mat-menu-item
            [routerLink]="['/']"
            >Ver sitio</button>

            <button mat-menu-item
            [routerLink]="['/tienda']"
            >Ver tienda</button>

            <button mat-menu-item
            (click)="login.singOut()"
            >Cerrar sesión</button>
        </mat-menu>

        <div class="imgProfileContainer">
            <img src="{{user.photoURL}}" alt="">
        </div>
        <div class="user">
          <span class="name"> {{user.displayName}} </span>
          <span class="email">{{user.email}}</span>
        </div>

    </div>

    <ng-template #unlogged>
    </ng-template>
</mat-toolbar>
