<form (ngSubmit)="onSubmit()" #deliveryForm="ngForm" [formGroup]="delivery">
    <div class="col s12">
        <mat-form-field>
            <mat-label>Domicilio</mat-label>
            <input type="text" name="address" id="address" matInput formControlName="address"  required>
            <mat-error *ngIf="delivery.invalid">
                {{requiredMessage()}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Barrio</mat-label>
            <input type="text" name="depto" id="depto" matInput formControlName="depto"  required>
            <mat-error *ngIf="delivery.invalid">
                {{requiredMessage()}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ciudad</mat-label>
            <input type="text" name="city" id="city" matInput formControlName="city"  required>
            <mat-error *ngIf="delivery.invalid">
                {{requiredMessage()}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Estado</mat-label>
            <input type="text" name="state" id="state" matInput formControlName="state"  required>
            <mat-error *ngIf="delivery.invalid">
                {{requiredMessage()}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>País</mat-label>
            <input type="text" name="country" id="country" matInput formControlName="country"  required>
            <mat-error *ngIf="delivery.invalid">
                {{requiredMessage()}}
            </mat-error>
        </mat-form-field>
    </div>
</form>