<div class="container">
    <div class="row">
        <div class="col s12">
            <mat-tab-group [dynamicHeight]="false">
                <mat-tab label="Integraciones">
                <gdev-integrations-config></gdev-integrations-config>
                </mat-tab>
                <mat-tab label="Productos">
                  <gdev-products-config></gdev-products-config>
                </mat-tab>
                <mat-tab label="Envíos">
                    <gdev-delivery-config></gdev-delivery-config>
                </mat-tab>
                <mat-tab label="Métodos de pago">
                    <gdev-pay-method-config></gdev-pay-method-config>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
