#menu-pagina {
    position: absolute;
    right: -1px;
    z-index: 3;
    top: 20px;
    display: none;
}

#menu-pagina-container {
    text-align: left;
    width: 200px;
}

.menu-pagina-item {
    color: #005daa !important;
}