<div class="row" id="product_on_cart">
    <div class="col s3 m2" id="imageCont" >
        <img [src]="product.description.imagenUrl['url']" [alt]="product.description.imagenUrl['alt']">
    </div>
    <div class="col s9 m6 referencia">
        <div class="row">
            <div class="col s12">
                <p class="name" [routerLink]="['/tienda/producto',product.description.id]" > {{product.description.referencia}} </p>
            </div>
            <div class="col s12">
                <p class="descripcion">
                    {{product.description.descripcion.substring(0, 120)}}
                    <span *ngIf="product.description.descripcion.length > 120">...</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col s4 cants_area right">
        <p class="precio"> $<b>{{product.unit_precio * productOnCart.cant}}</b> </p>
        <app-addcart-btn [product]="product"></app-addcart-btn>
        <button mat-icon-button
        class="delProduct"
        (click)="deleteProduct()">
            <i class="fas fa-trash red-text"></i>
        </button>
    </div>
    <!-- <div class="col s6"></div> -->
</div>