<div class="row" id="product_on_cart">
    <div class="col s3 m2" id="imageCont" >
        <img
        [src]="product.description?.mainImage?.url || ''"
        [alt]="product.description?.mainImage?.alt || ''"
        >
    </div>
    <div class="col s9 m6 referencia"
    *ngIf="product.description">
        <div class="row">
            <div class="col s12">
                <p class="name" [routerLink]="['/tienda/producto',product.description.id]" > {{product.description.referencia}} </p>
            </div>
            <div class="col s12">
                <p class="descripcion">
                    {{(product.description.descripcion || '').substring(0, 120)}}
                    <span *ngIf="(product.description.descripcion?.length || 0) > 120">...</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col s4 cants_area right">
        <p class="precio"> $<b>{{(product.unit_precio || 0) * (productOnCart?.cant || 0)}}</b> </p>
        <app-addcart-btn [product]="product"></app-addcart-btn>
        <button mat-icon-button
        class="delProduct"
        (click)="deleteProduct()">
            <i class="fas fa-trash red-text"></i>
        </button>
    </div>
    <!-- <div class="col s6"></div> -->
</div>
