<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <mat-card>
                <h5>Datos personales</h5>
                <mat-card-content>
                    <ul class="collection">
                        <li class="collection-item">{{cliente.nombre}}</li>
                        <li class="collection-item">{{cliente.celular}}</li>
                        <li class="collection-item">{{cliente.email}}</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- <div class="col s12 m6">
            <mat-card>
                <h5>Dirección principal</h5>
                <mat-card-content>
                    <ul class="collection">
                        
                    </ul>
                </mat-card-content>
            </mat-card>
        </div> -->
        <div class="col s12 m6">
            <mat-card>
                <h5>Datos de facturación</h5>
                <mat-card-content>
                    <ul class="collection">
                        
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col s12 m6">
            <mat-card>
                <h5>Opciones</h5>
                <mat-card-content>
                    <ul class="collection">
                        
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>