    <div class="col s12">
        <mat-form-field>
            <mat-label>Domicilio</mat-label>
            <input type="text" name="address" id="address" matInput #address="ngModel" [(ngModel)]="ubicacion.address"  required>
            <mat-error *ngIf="address.invalid">
                Este campo es necesario
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Barrio</mat-label>
            <input type="text" name="depto" id="depto" matInput #depto="ngModel" [(ngModel)]="ubicacion.depto"  required>
            <mat-error *ngIf="depto.invalid">
                Este campo es necesario
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ciudad</mat-label>
            <input type="text" name="city" id="city" matInput #city="ngModel" [(ngModel)]="ubicacion.city"  required>
            <mat-error *ngIf="city.invalid">
                Este campo es necesario
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Estado</mat-label>
            <input type="text" name="state" id="state" matInput #state="ngModel" [(ngModel)]="ubicacion.state"  required>
            <mat-error *ngIf="state.invalid">
                Este campo es necesario
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>País</mat-label>
            <input type="text" name="country" id="country" matInput #country="ngModel" [(ngModel)]="ubicacion.country"  required>
            <mat-error *ngIf="country.invalid">
                Este campo es necesario
            </mat-error>
        </mat-form-field>
    </div>