<div class="container" id="destacados_cont" *ngIf="products && products.length > 0">
   <div class="row" id="destacados_head">
       <div class="col s12">
           <h2>Productos Destacados</h2>
       </div>
   </div>
    <div class="row">
        <div class="col s6 m4 l3" *ngFor="let product of products">
            <mat-card class="mat-elevation-z8">
                <mat-card-content
                [routerLink]="['/tienda/producto', product.id]"
                class="card-image">
                    <ng-container *ngIf="!product.imagenUrl['url']; else alt">
                        <img [src]="product.imagenUrl" mat-card-image >
                    </ng-container>
                    <ng-template #alt>
                        <img [src]="product.imagenUrl['url']"
                    [alt]="product.imagenUrl['alt']"
                        mat-card-image
                    >
                    </ng-template>

                </mat-card-content>
                <mat-card-title [routerLink]="['/tienda/producto', product.id]">
                    <strong>{{product.referencia}}</strong>
                </mat-card-title>
                <mat-card-subtitle>
                    <p> ${{product.precio | mask: 'separator': ','}} </p>
                </mat-card-subtitle>
                <mat-card-actions>
                    <app-product-actions [product]="product"></app-product-actions>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <!-- <div class="row" *ngIf="products">
        <div class="col s12 center">
            <button
            mat-raised-button
            (click)="loadMore()"
            [disabled]="lastItem"
            >Cargar más...</button>
        </div>
    </div> -->
</div>
