
<form action="#">
    <div class="row">
        <div class="col s2">
            <mat-form-field>
                <mat-label>Valor</mat-label>
                <input
                matInput
                type="number"
                name="cant"
                [(ngModel)]="descuento.cant"
                #cant="ngModel"
                required
                >
                <mat-error *ngIf="cant.invalid
                || (cant.dirty && cant.touched)">
                    Es necesaria una cantidad
                </mat-error>
            </mat-form-field>
        </div>
        
        
        <div class="col s5">
            <mat-select placeholder="Tipo de desc" [(ngModel)]="descuento.type" name="item">
                <mat-option *ngFor="let item of tiposDesc" [value]="item.value">
                    {{item.viewValue}}
                </mat-option>
            </mat-select>
        </div>

        <div class="col s5">
            <mat-form-field>
                <mat-label>Fecha de expiración</mat-label>
                <input
                matInput
                type="date"
                name="exp"
                #exp="ngModel"
                [(ngModel)]="descuento.exp"
                required
                >
                <mat-error *ngIf="exp.invalid
                || (exp.dirty && exp.touched)">
                    Debes señalar una fecha de expiración
                </mat-error>
            </mat-form-field>

        </div>

    </div>



    <button mat-raised-button
    (click)="OnChange.emit(descuento)"
    color="primary"
    >
        <i class="fas fa-check    "></i>
    </button>
    
</form>
