<div class="container" *ngIf="pedido">
    <div class="row align-cols item_head">
        <div class="col s2">
            <button mat-icon-button
            (click)="close.emit()">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="col s10">
            <mat-select placeholder="Estado del pedido" [(ngModel)]="pedido.state" name="estado" gdev-color color="primary" (selectionChange)="changeState()" >
                <mat-option *ngFor="let estado of estados" [value]="estado.value">
                    {{estado.viewValue}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div class="order-sheet">
        <!-- FIRST ROW -->
        <div class="row">
            {{pedido.orderId}}
            
            <div class="col s12 m6">
                <h3>Datos del cliente</h3>
                <ul class="collection">
                    <li class="collection-item">
                        <b>Nombre:</b> {{pedido.buyer.name}}
                    </li>
                    <li class="collection-item">
                        <b>Email:</b> {{pedido.buyer.email}}
                    </li>
                    <li class="collection-item">
                        <b>Celular:</b> {{pedido.buyer.celular}}
                    </li>
                </ul>

                <h4>Instrucción o nota especial</h4>
                <ul class="collection">
                    <li class="collection-item">
                        {{pedido.aviso}}
                    </li>
                </ul>
            </div>
            
            
            
            <!-- START SHIP DATA -->
            <div class="col s12 m6">
                <h3>Datos de entrega</h3>
                <p>
                    Tipo de entrega: <b>{{pedido.ship_method.toLocaleUpperCase()}}</b>
                </p>
                <div [ngSwitch]="pedido.ship_method">
                    
                    <!-- START DELIVERY -->
                    <div *ngSwitchCase="'delivery'">
                        <ul class="collection">
                            <li class="collection-item">
                                <b>Dirección:</b> {{pedido.delivery.address}}
                            </li>
                            <li class="collection-item">
                                <b>Barrio:</b> {{pedido.delivery.depto}}
                            </li>
                            <li class="collection-item">
                                <b>Ciudad:</b> {{pedido.delivery.city}}
                            </li>
                            <li class="collection-item">
                                <b>Estado:</b> {{pedido.delivery.state}}
                            </li>
                            <li class="collection-item">
                                <b>País:</b> {{pedido.delivery.country}}
                            </li>
                        </ul>


                        <b>Fecha estimada de entrega:</b> 
                        <mat-form-field>
                            <mat-label>Fecha</mat-label>
                            <input matInput [matDatepicker]="pickupDate" disabled [(ngModel)]="pedido.delivery.delivery_date" (dateChange)="catchDeliveryDate($event)">
                            <mat-datepicker-toggle matSuffix [for]="pickupDate"></mat-datepicker-toggle>
                            <mat-datepicker #pickupDate disabled="false"></mat-datepicker>
                        </mat-form-field>
                        
                        <mat-form-field>
                            <input matInput [ngxTimepicker]="start"[format]="24"  
                            [value]="pedido.delivery.delivery_date ? hora(pedido.delivery.delivery_date) : '12:00'">
                            <ngx-material-timepicker #start
                            (timeSet)="catchDeliveryTime($event)"
                            [minutesGap]="5"
                            ></ngx-material-timepicker>
                        </mat-form-field>

                    </div>
                    <!-- END DELIVERY -->


                    <!-- START PICKUP -->
                    <div *ngSwitchCase="'pickup'">
                        <ul class="collection">
                            <li class="collection-item">
                                <b>Sucursal:</b> {{pedido.pickup.branch}}
                            </li>
                            <li class="collection-item">
                                <b>Dirección:</b> {{pedido.delivery.address}}
                            </li>
                            <li class="collection-item">
                                <b>Barrio:</b> {{pedido.delivery.depto}}
                            </li>
                            <li class="collection-item">
                                <b>Ciudad:</b> {{pedido.delivery.city}}
                            </li>
                            <li class="collection-item">
                                <b>Estado:</b> {{pedido.delivery.state}}
                            </li>
                            <li class="collection-item">
                                <b>País:</b> {{pedido.delivery.country}}
                            </li>
                            <li class="collection-item">
                                <b>Fecha estimada de entrega:</b> 
                                <span *ngIf="pedido.delivery.state;else noAsignada">
                                    {{fecha(pedido.pickup.pickup_date)}} - {{hora(pedido.pickup.pickup_date)}}
                                </span>
                                <span #noAsignada>
                                    Aún no asignada
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!-- END PICKUP -->
                </div>
            </div>
            <!-- END SHIP DATA -->
        </div>
        <!-- END FIRST ROW -->

        
        <!-- START SECOND ROW -->
        <div class="row second_row">
            <div class="col s12">
                <h3>Lista de productos</h3>
                <table class="bordered">
                    <thead>
                        <tr>
                            <th>Referencia</th>
                            <th>Cant</th>
                            <th>P. Unitario</th>
                            <th>P. Suma</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of pedido.products">
                            <td>{{item.description.referencia}}</td>
                            <td>{{item.cant}}</td>
                            <td>{{item.unit_precio}}</td>
                            <td>{{item.unit_precio * item.cant}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END PRODUCTOS -->

        </div>
                <div class="row">
                    <div class="col s12 m6">
                        <p>Método de pago: {{pedido.pay_method}}</p>
                        <p>Requiere factura: 
                            <span *ngIf="pedido.factura;else no">Si</span> 
                            <ng-template #no>No</ng-template>
                        </p>
                    </div>
                    <div class="col s12 m6">
                        <ul class="collection" style="text-align: right;">
                            <li class="collection-item">
                                <b>Subtotal:</b> {{pedido.totales.subtotal}}
                            </li>
                            <li class="collection-item">
                                <b>Envío:</b> {{pedido.totales.tax}}
                            </li>
                            <li class="collection-item">
                                <b>Total:</b> {{pedido.totales.grand_total}}
                            </li>
                        </ul>
                    </div>
                </div>
    </div>
</div>

