<!-- <full-calendar [plugins]="calendarPlugins" locale="es" defaultView="timeGridWeek" [allDaySlot]="false" [slotDuration]="duracionEventoDefault" slotEventOverlap="false" [slotLabelFormat]="{ hour: 'numeric', minute: '2-digit' }" [businessHours]="horarioLaboral"
    [minTime]="minTime" [maxTime]="maxTime" [defaultDate]="hoy" [hiddenDays]="diasDeshabilitados" [selectable]="true" [defaultTimedEventDuration]="duracionEventoDefault" (dateClick)="clickToSelectDate($event)" [events]="eventos">
</full-calendar> -->
