<div id="login" class="container">
    <div class="row">
        <div class="col s12 m6">
            <app-register-form></app-register-form>
        </div>
        <div class="col s12 m6 loginContainer">
            <gdev-login-card (onSubmit)="onSubmit($event)"></gdev-login-card>
            <p class="center">O inicia sesión con:</p>
            <!-- <div class="social_login_content">
                <button 
                class="fbLogin loginbtn" 
                (click)="login.facebookSingIn()">
                    Facebook
                </button>
                <button 
                class="goLogin loginbtn" 
                (click)="login.googleSingIn()">
                    Google
                </button>
            </div> -->
        </div>
    </div>
</div>