<div class="container">
    <div class="row hide-on-med-and-down">
        <div class="col s12 center">
            <h5>Tu lista de deseos</h5>
        </div>
    </div>
    <ng-container *ngIf="products.length === 0; else productsInWishlist">
        <div class="row">
            <div class="col s12 center">
                No hay nada en tu lista de deseos, ve a la <a [routerLink]="['/tienda/']">tienda</a> y elige productos para agregar
            </div>
        </div>
    </ng-container>
    <ng-template #productsInWishlist>
        <div class="row">
            
            <!-- Products In cart -->
            <div class="col s12 m9">
                <mat-card class="mat-elevation-z5" *ngFor="let product of products">
                    <mat-card-content>
                        <app-product-on-wishlist [product]="product"></app-product-on-wishlist>
                    </mat-card-content>
                </mat-card>
            </div>

            
            

        </div>


            
    </ng-template>

    
</div>
