<div id="footer" class="continer" gdev-color [background]="'dark'" *ngIf="getIn">
    <div class="row align-cols">
        <div class="col s12 m4 center" id="logo">
            <img [src]="logo" alt="Logo oficial">
        </div>

        <div class="col s12 m4">
            <h2 class="white-text">Redes sociales</h2>
            <div class="collection" *ngIf="storeDatos">
                <a *ngIf="storeDatos.facebook" href="https://facebook.com/{{storeDatos.facebook}}" class="collection-item facebook" gdev-color [color]="'complement1'">
                    <i class="fab fa-facebook fa-2x  "></i>
                    <p>Facebook</p>
                </a>
                <a *ngIf="storeDatos.instagram" href="https://instagram.com/{{storeDatos.instagram}}" class="collection-item instagram" gdev-color [color]="'complement1'" >
                    <i class="fab fa-instagram fa-2x  "></i>
                    <p>Instagram</p>
                </a>
                <a *ngIf="storeDatos.youtube" href="https://youtube.com/{{storeDatos.youtube}}" class="collection-item youtube" gdev-color [color]="'complement1'" >
                    <i class="fab fa-youtube fa-2x  "></i>
                    <p>Youtube</p>
                </a>
            </div>
        </div>

        <div class="col s12 m4">
            <h2 class="white-text">Enlaces</h2>
            <div class="collection">
                <a class="collection-item"
                [routerLink]="['/']"
                >Inicio</a>
                <a class="collection-item"
                [routerLink]="['/tienda/contacto']"
                >Contacto</a>
                <a class="collection-item"
                [routerLink]="['/tienda/cuenta']"
                >Mi cuenta</a>
                <a class="collection-item"
                [routerLink]="['/tienda/cuenta/cart']"
                >Carrito</a>
                <a class="collection-item"
                [routerLink]="['/tienda/cuenta/whislist']"
                >Lista de deseos</a>
                <a class="collection-item"
                [routerLink]="['/tienda/docs/politicas-de-privacidad']"
                >Políticas de privacidad</a>
            </div>
        </div>
    </div>
</div>
