<div class="container">
    <div class="back" (click)="location.back()">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="row" id="articulo" *ngIf="product">
        <div class="col s12 m6">
            <div id="article-image">
                <div class="imgContainer" [ngStyle]="{background: 'url('+product.imagenUrl.url+')'}">
                    <!-- <img id="productImg" [src]="product.imagenUrl['url']" [alt]="product.referencia"> -->
                </div>
            </div>
            <div class="gallery-scroll">
                <gdev-gallery-scroll-thumbnail
                [images]="product.galeria"
                ></gdev-gallery-scroll-thumbnail>
            </div>
        </div>
        
        <div class="col s12 m6" id="desc">
            <div class="row" id="article-descripcion">
                <h1>{{product['referencia']}}</h1>
                
                <p class="precio">
                    <b style="font-size: 1.5em;">${{ product['precio'] | mask: 'separator':',' }}</b>     
                    <span *ngIf="product.descuento"
                        class="red-text">
                        <span *ngIf="product.descuento.type == '$'">$</span>
                        {{product.descuento.cant}}
                        <span *ngIf="product.descuento.type == '%'">%</span>
                        de descuento
                    </span>
                </p>
                
                <p class="descripcion" *ngIf="product['descripcion']">
                    {{product['descripcion']}}
                    <!-- <span *ngIf="product['descripcion'].length > 250">
                        ... <a (click)="scroll()">Leer más</a>
                    </span> -->
                </p>
                
            </div>


            <div class="row" id="variantes" *ngIf="product['variantes']">
                
                <div class="variante_container" *ngFor="let variante of product['variantes']; let i=index">
                    <div class="variante_header">
                        {{variante.name}}
                    </div>
                    <div class="variante_options">
                        <mat-radio-group 
                        [(ngModel)]="price.prodPrice" 
                        (change)="price.setVariety(variante.name, $event)">
                            <mat-radio-button [value]="option" *ngFor="let option of variante.variantes">
                                {{option.ref}}: <b>${{option.precio}}</b>
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

            </div>

            <div class="row" id="addons" *ngIf="product['addons']">
                
                <div class="addons_container" *ngFor="let addon of product['addons']; let i=index">
                    <div class="addons_header">
                        Adicionales
                    </div>
                    <div class="addons_options">
                        <mat-checkbox
                        (change)="price.onAddonsChanges($event, addon)"
                        >
                        {{addon.ref}}: <b>${{addon.precio}}</b>
                        </mat-checkbox>
                    </div>
                </div>

            </div>



            <div id="product_actions">
                <p class="right" *ngIf="product.stockCant">
                    Existencia: 
                    <span 
                    [ngClass]="{
                        'deep-orange-text': product.stockCant < 5, 
                        'red-text': product.stockCant < 1
                    }">
                        {{product.stockCant}}
                    </span>
                </p>
                <mat-card>
                    <mat-card-content>
                        <gdev-dinamic-price
                        ></gdev-dinamic-price>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="row" *ngIf="product.detalles">
                <div class="details_container">
                    <div class="details_header">
                        Características
                    </div>
                    <ul class="collection bordered">
                        <li class="collection-item" *ngFor="let detail of product.detalles">
                            <div class="row">
                                <div class="col s6">
                                    <b> {{detail.detailValue}} </b>
                                </div>
                                <div class="col s6">
                                    {{detail.detailName}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    

</div>