<div class="container">
    <div class="row hide-on-med-and-down">
        <div class="col s12 center">
            <h2>Formulario de entrega</h2>
        </div>
    </div>



    <div class="row">
        <mat-tab-group>
            <!-- <mat-tab>
                <ng-template mat-tab-label>
                    <mat-card class="mat-elevation-z8">
                        <mat-card-content>
                            <p class="center">
                                Recoger en sucursal
                            </p>
                        </mat-card-content>
                    </mat-card>
                </ng-template>
                <app-pickup-form></app-pickup-form>
            </mat-tab> -->
            <mat-tab >
                <ng-template mat-tab-label>
                    <mat-card class="mat-elevation-z8">
                        <mat-card-content>
                            <p class="center">
                                Envío a domicilio
                            </p>
                        </mat-card-content>
                    </mat-card>
                </ng-template>
                <app-delivery-form></app-delivery-form>
            </mat-tab>
        </mat-tab-group>
        
    </div>
</div>