<div class="addCartBtn" > 
    <ng-container *ngIf="!productOnCart; else onCart">
        <button mat-raised-button
        color="primary"
        (click)="addProdCart()"
        >Agregar al carrito
        </button>
    </ng-container>
    <ng-template #onCart>
        <div class="chageCantContent">
            <button mat-icon-button
            (click)="removeCant()">
                <i class="fas fa-minus"></i>
            </button>
            {{productOnCart.cant}}
            <button mat-icon-button
            (click)="addCant()">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </ng-template>
    
</div>