mat-drawer {
    width: 15%;
    max-width: 200px;
}

mat-drawer-container {
    // height: 90vh;
    position: relative !important;
}

mat-drawer-content {
    top: 0;
}

mx-store-topbar {
    position: relative;

}mat-drawer {
    width: 15%;
    max-width: 200px;
}

mat-drawer-container {
    // height: 90vh;
    position: relative !important;
}

mat-drawer-content {
    top: 0;
}

mx-store-topbar {
    position: relative;

}
