<!-- TOPBARNAV -->
<mx-store-topbar></mx-store-topbar>


<mat-drawer-container
strechHeight
id="panel_container"
class="dash-container"
hasBackdrop="false">


    <mat-drawer
    #sideNav
    class="side-nav"
    mode="side"
    [opened]="!responsive.small"
    position="start"

    [mxBackground]="'bg2'"
    >
        <!-- SIDENAV -->
        <mx-sidenav [structure]="sidenavStructure"></mx-sidenav>
    </mat-drawer>


    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
